.loading {
    display:none;
    text-align: center;
    margin-top: 25px;
}
.search-results {
    padding: 0;
}
.comp-image{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}
.stock-changes {
    color: green;
}
.stock-change.negative {
    color:red;
}

.marquee-container {
   width: 100%;
   height: 40px;
   overflow: hidden;
   position: relative;
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    animation: marquee 20s linear infinite;
}

@keyframes marquee-animation {
    0% {
        transform: translateX(100%)
    }
    100% {
        transform: translateX(-100%);
    }
}